@import url("https://fonts.googleapis.com/css2?family=Noto+Sans");

.initialButton {
	background-color: 			pink;
}

.clickedButton {
	background-color: 		chartreuse;
}

.textContainer {
  height: 100%;
  background-color: #FFFFFF;
  font-family: 'Noto Sans';
  font-size: 14px;
  color: #333333;  
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  margin: 0px 8px 0px 0px;
  height: 20px;
  width: 20px;
}

input[type=checkbox]:not(old) + label:hover { 
	cursor:						hand;
}

input[type=checkbox]:not(old){
	opacity:					0;
	width:						1.75em;
	margin:						0;
	padding:					0;
	border:						none; 
	background-color: 			none;
}

input[type=checkbox] + label {
	position:					relative;
	display:					inline;
	margin-left:				-1.6em;
	line-height:				1.5em;
	cursor:						pointer;
}

/* style the unchecked boxes */
input[type=checkbox]:not(old) + label > span {
	display:					inline-block;
	width:						1.45em;
	height:						1.45em;
/*	margin:						0.0em 0.0em 0.0em 0.0em;*/

	margin:						0.0em 0.5em 0.15em -0.15em;

/*	margin:						-0.15em 0.5em 0.15em -0.15em;*/
	border:						0.095em solid rgb(192,192,150);
	border-radius:				0.25em;
	background-color:			#FFFFFF;
	vertical-align:				middle;
}

input[type=checkbox]:not(old) + label {
	padding-right:              1%;
}

/* display checkmark within checkbox */
input[type=checkbox]:not(old):checked + label > span:before {
/* unicode character Wingdings 0xFC */
/*	content:				    'âœ˜';*/
	content:					'âœ“';
/*	content:					"\2022";*/
	width:						1.0em;
	height:						1.0em;
/*	background-color:	        rgb(23, 141, 84);*/
	color:		      			rgb(81, 174, 215);

	font-size:					1.5em;
	margin:						0.06em;	
	line-height:				0.87em;
	text-align:					center;
	font-weight:				bolder;
}



